@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.services {
  @apply relative flex justify-center w-fit mb-5 md:mb-2 md:ml-8
}

.serviceimg {
  @apply flex justify-center rounded-2xl
}

.titles {
  @apply absolute z-10 bottom-0 left-0 right-0 rounded-b-2xl text-white bg-[#f54b10] text-xl font-semibold py-1 
}
